# --- STEAM CREDENTIALS ---
# Твой логин и пароль от аккаунта Steam
STEAM_USERNAME=your_login_here
STEAM_PASSWORD=your_password_here

# --- FILE PATHS ---
# Путь к файлу со списком Match ID (входные данные)
PATH_INPUT_MATCHES=matches.csv

# Путь к файлу, куда запишется результат (выходные данные)
PATH_OUTPUT_REPORT=analytics_report.csv

# Путь к справочнику героев (JSON)
PATH_HERO_MAP=hero_id_map.json