# ==========================================
# Dota 2 Stats Harvester - Dependencies
# ==========================================

# Ядро проекта
dota2==1.1.0
steam==1.4.4

# Работа с .env конфигурацией
python-dotenv==1.2.2

# Обработка данных (CSV/таблицы)
pandas==3.0.2
numpy==2.4.4
